<h3>Datos del plazo</h3>

<form (ngSubmit)="submitFormulario()" [formGroup]="formulario">
  <div class="p-fluid p-grid p-formgrid">

      <!--  Nombre  -->
      <div class="p-field p-col-12 p-md-4 mb-3">
        <label for="nombre">Nombre</label>
          <input  type="text"
                  inputId="nombre"
                  pInputText
                  formControlName="nombre">
          <small id="username2-help"
                  *ngIf="campoEsValido('nombre')"
                  class="p-error">
              El nombre es obligatorio.
          </small>
      </div>

      <!--  Semanas  -->
      <div class="p-field p-col-12 p-md-4 mb-3">
        <label for="semanas">Semanas</label>
          <input  type="text"
                  inputId="semanas"
                  pInputText
                  formControlName="semanas"
                  pKeyFilter="num">
          <small id="username2-help"
                  *ngIf="campoEsValido('semanas')"
                  class="p-error">
              El número de semanas es obligatorio.
          </small>
      </div>

      <!--  Abono normal  -->
      <div class="p-field p-col-12 p-md-4 mb-3">
        <label for="abono_normal">Abono normal</label>
          <input  type="text"
                  inputId="abono_normal"
                  [style]="{'text-transform': 'uppercase'}"
                  pInputText
                  formControlName="abono_normal"
                  pKeyFilter="num">
          <small id="username2-help"
                  *ngIf="campoEsValido('abono_normal')"
                  class="p-error">
              El abono normal es obligatorio.
          </small>
      </div>

      <!--  Abono puntual  -->
      <div class="p-field p-col-12 p-md-4 mb-3">
        <label for="abono_puntual">Abono puntual</label>
          <input  type="text"
                  inputId="abono_puntual"
                  pInputText
                  formControlName="abono_puntual"
                  pKeyFilter="num">
          <small id="username2-help"
                  *ngIf="campoEsValido('abono_puntual')"
                  class="p-error">
              El abono puntual es obligatorio.
          </small>
      </div>

      <div #calendario></div>
      <p-button type="submit"
                [disabled]=" !formulario.valid "
                label="Enviar"></p-button>
  </div>
</form>
