html, body{
  background: var(--surface-b);
  font-family: var( --font-family );
  color: var( --text-color);
}

body{
  padding: 10px;
}

.secondary-color{
  color: var(--text-color-secondary);
}

.numero{
  text-align: right !important;
}
